.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.container {
  display: flex;
  width: 100%;
}

.box {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.itemSide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
}

.typeSelection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: whitesmoke;
  background-color: #282c34;
  border-radius: 15px;
  margin-bottom: 15px;
}

.itemList {
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.itemList ::-webkit-scrollbar {
  width: 8px;
}
.itemList ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.itemList ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.itemCard {
  background-color: #282c34;
  color: whitesmoke;
  border-radius: 15px;
  margin-bottom: 20px;
}

.itemImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImage{
  height: 200px;
}

.productInfo {
  background-color: blueviolet;
  width: 100%;
}

.newProductForm {
  margin-bottom: 8%;
}

.productName {
  overflow: auto;
  overflow-wrap: break-word;
  background-color: crimson;
  margin-top: 5%;
}